<div class="mt-5">
  <div class="text-right mb-3"><%= link_to '+リスト追加', new_user_list_path(current_user) %></div>  
  <% if @lists.present? %>
    <% @lists.each do |l| %>
      <%= link_to(list_restaurants_path(l), class: "text-dark") do %>
        <div class="card my-2">
          <div class="card-body row">
            <div class="col-8"><%= l.title %></div>
            <div class="col-4">店の数<br><%= l.restaurants.size %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="text-center">Myリストがまだ追加されていません</div>
  <% end %>
</div>