<div class="mt-5">
  <% if @sent_from_users.present? %>
    <% @sent_from_users.each do |u| %>
      <div class="card my-2">
        <div class="card-body row">
          <div class="col-6"><%= u.name %></div>
          <div class="col-6"><%= check_requesting_user_status(current_user, u) %></div>
        </div>
        <div class="card-footer">
          <h6>リクエストされたリスト</h6>
          <% find_request(u.id, current_user.id).lists.each do |l| %>
            <div><%= l.title %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="text-center">リクエストされたユーザーはいません</div>
  <% end %>
</div>