<div class="container">
  <div class="py-3 bg-success text-white row">
    <div class="col-4"></div>
    <h3 class="col-4 text-center font-weight-bold" style="font-family: Hiragino Maru Gothic Pro;">アルカナ</h3>
  </div>
</div>
